<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/WebMainan.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../assets/Logoank.png" alt="#">
        </div>
        <div class="items">
            <a href="/src/views/aboutme.html">About Me</a>
            <a href="#">Beli Online</a>
            <a href="#">Beli Via Whatsapp</a>
            <a href="#">Inspirasi</a>
            <a href="#">Kategori Mainan</a>
            <button>
                Beli Sekarang!
            </button>
        </div>
    </nav>
    <section class="hero">
        <div class="hero-title">
            <img src="/src/assets/lago.jpg" alt="#">
        </div>
    </section>
    <p class="judul judul1">
        <b>
            BRAND FAVORITE
        </b>
    </p>
    <div class="content">
        <div class="atas">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/lego.png" alt="LEGO"></a>
                </div>
                <a href=""><b>Lego</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/barbie.png" alt="#"></a>
                </div>
                <a href=""><b>Baby Alive</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/McFarlane.png" alt="#"></a>
                </div>
                <a href=""><b>McFarlane</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/nerf.png" alt="#"></a>
                </div>
                <a href=""><b>Nerf</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/Plum.png" alt="#"></a>
                </div>
                <a href=""><b>Plum</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/superwings.png" alt="#"></a>
                </div>
                <a href=""><b>SuperWings</b></a>
            </div>
        </div>
        
        <p class="judul judul1">
            <b>
                CARI MAINANNYA
            </b>
        </p>
        
        <div class="bawah">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/kecerdasan.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/harga.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/terbaru.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/umur.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/terlaris.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/bestdeal.png" alt="#"></a>
                </div>
            </div>
        </div>

        <p class="judul judul1">
            <b>
                KECERDASAN ANAK
            </b>
        </p>

        <div class="samping">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/body.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/logic.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/nature.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/people.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/picture.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/self.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/word.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/music.png" alt="#"></a>
                </div> 
            </div>
            </div>
                    
        <p class="judul judul1">
            <b>
                BRANDS
            </b>
        </p>

        <div class="kiri">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/barbiee.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/fisher.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/globber.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/hotwheels.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/legoo.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/nerff.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/peppapig.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/rainbocorns.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/rainboww.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/superwingss.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/thomas.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/plumm.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/megablock.jpg" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="/src/assets/babyalive.jpg" alt="#"></a>
                </div> 
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <b>
                Syarat Penggunaan
            </b>
            <b>
                Kebijakan Privasi
            </b>
            <b>
                Hubungi Kami
            </b>
        </div>
        <p>
            @Copyright 2023 Muhammad Dwiki Surya Saputra | All Right Reserved
        </p>
    </footer>
</body>
</html>