<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toko Mainan</title>
    <link rel="stylesheet" href="../style/WebMainan.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../assets/Logoank.png" alt="#">
        </div>
        <div class="mode">
            <p>
                <button class="tombol-terang" 
                    onclick="ubahWarna()">
                    <img src="../assets/darkmode-removebg-preview.png" alt="#">
                </button>
                <button class="tombol-gelap"
                    onclick="ubahWarna()">
                    <img src="../assets/lightmode-removebg-preview.png" alt="#">
                </button>
            </p>
        </div>
        <div class="items">
            <a href="../views/aboutme.html">About Me</a>
            <a href="#">Beli Online</a>
            <a id="beli-via-whatsapp" href="#">Beli Via Whatsapp</a>
            <a href="#">Inspirasi</a>
            <a href="#">Kategori Mainan</a>
            <button id="btn-beli">
                Beli Sekarang!
            </button>
        </div>

    </nav>
    <section class="hero">
        <div class="hero-title">
            <img src="../assets/lago.jpg" alt="#">
        </div>
    </section>
    <p class="judul judul1">
        <b>
            BRAND FAVORITE
        </b>
    </p>
    <div class="content">
        <div class="atas">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/lego.png" alt="LEGO"></a>
                </div>
                <a href=""><b>Lego</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/barbie.png" alt="#"></a>
                </div>
                <a href=""><b>Baby Alive</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/McFarlane.png" alt="#"></a>
                </div>
                <a href=""><b>McFarlane</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/nerf.png" alt="#"></a>
                </div>
                <a href=""><b>Nerf</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/Plum.png" alt="#"></a>
                </div>
                <a href=""><b>Plum</b></a>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/superwings.png" alt="#"></a>
                </div>
                <a href=""><b>SuperWings</b></a>
            </div>
        </div>
        
        <p class="judul judul1">
            <b>
                CARI MAINANNYA
            </b>
        </p>
        
        <div class="bawah">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/kecerdasan-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/harga-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/terbaru-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/umur-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/terlaris-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/bestdeal-removebg-preview.png"alt="#"></a>
                </div>
            </div>
        </div>

        <p class="judul judul1">
            <b>
                KECERDASAN ANAK
            </b>
        </p>

        <div class="samping">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/body.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/logic.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/nature.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/people.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/picture.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/self.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/word.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/music.png" alt="#"></a>
                </div> 
            </div>
            </div>
                    
        <p class="judul judul1">
            <b>
                BRANDS
            </b>
        </p>

        <div class="kiri">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/babyalive-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/fisher-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/globber-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/hotwheels-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/legoo-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/nerff-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/peppapig-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/rainbocorns-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/rainboww-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/superwingss-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/thomas-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/plumm-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/megablock-removebg-preview.png" alt="#"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="../assets/babyalive-removebg-preview.png" alt="#"></a>
                </div> 
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <b>
                Syarat Penggunaan
            </b>
            <b>
                Kebijakan Privasi
            </b>
            <b>
                Hubungi Kami
            </b>
        </div>
        <p>
            @Copyright 2023 Muhammad Dwiki Surya Saputra | All Right Reserved
        </p>
    </footer>
    <script src="../script/javascript.js"></script>
</body>
</html>